Net/SNMPTrapd.pm 
# cpanm Net::SNMPTrapd

Digest/MurmurHash.pm 
# cpanm Digest::MurmurHash


Log/Log4perl.pm
# cpanm Log::Log4perl


IPC/Run.pm
# cpanm IPC::Run

Proc/Background.pm
# cpanm Proc::Background