cpanm Tk::FileDialog
cpanm Tk::JComboBox
cpanm Tk::TableMatrix
cpanm Log::Log4perl
cpanm Log::Dispatch
cpanm Proc::Background
cpanm IPC::Run
cpanm PAR::Packer
cpanm https://github.com/Lamprecht/perl-tk.git@Strawberry-5.38-patch 